.form {
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Suisse Intl', sans-serif;
}

.form__field {
  margin-bottom: 32px;
}

.form__label {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
}


.form__input {
  position: relative;
  padding: 10px 16px 14px;
  border: none;
  width: 100%;
  border-radius: 4px;
  background: #f5f5f5;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #262626;
  caret-color: #285de8;
}

.form__input:focus {
  border: none;
  outline: none;
}

.form__input-underline {
  position: relative;
}

.form__input-underline::after {
  content: "";
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: rgba(38, 38, 38, 0.2);
  transition: opacity 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.field__input:hover + .form__input-underline::after {
  background-color: rgba(38, 38, 38, 0.2);
  opacity: 1;
}

.form__input:focus + .form__input-underline::after {
  background-color: #285DE8;
  opacity: 1;
}

.form__input-underline_red::after {
  content: "";
  opacity: 1;
  background-color: #e22c38;
}

.form__input:focus + .form__input-underline_red::after {
  background-color: #D32A33;
}

.error {
  margin-top: 4px;
  padding: 10px 20px;
  background-color: #262626;
  border-radius: 4px;
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.error::before {
  content: url('/static/img/form-fields-error-icon.svg');
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 12px;
  align-self: center;
}

.form__submit-btn {
  padding: 13px 110px;
  background-color: #285de8;
  border-radius: 4px;
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: background-color 0.4s ease-in-out;
}

.form__submit-btn:focus {
  background-color: #336af7;
}

.form__submit-btn:hover {
  background-color: #3484fc;
}

.form__submit-btn:active {
  background-color: #005fff;
}