.landing-image {
  width: 100%;
}

.section {
  padding: 8px 0 80px;
}

.section__title {
  font-family: 'VDNHLebedev2', sans-serif;
  font-weight: 400;
  font-size: 84px;
  margin-bottom: 33px;
  line-height: 72px;
}

.section__descr {
  max-width: 440px;
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* Первая секция */
.hero {
}


/* Маршруты */
.routes {
  background-color: var(--col_2);
}

.route-list {
  flex-wrap: wrap;
}

.route {
  width: calc((100% / 4) - 30px);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.route:not(:nth-child(4n)) {
  margin-right: 30px;
}

.route__title {
  height: 80px;
  margin-bottom: 33px;
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #262626;
}

.route__img {
  max-width: 100%;
  margin: 0 auto;
}


/* Как это работает? */
.how-it-works {
  background-color: var(--col_1);
  color: #fff;
}


/* Choice */
.choice {
  background-color: var(--col_2);
}

.features-list {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.feature {
  width: calc(100% / 3 - 32px);
  height: 350px;
  margin-bottom: 20px;
  padding: 26px 30px;
  background-color: #fff;
  border-radius: 4px;
}

.feature:not(:nth-of-type(3n)) {
  margin-right: 32px;
}

.feature__title {
  height: 80px;
  margin-bottom: 33px;
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #262626;
}


/* Прогулка */
.walking {
  padding: 25px 0 80px;
  background-color: var(--col_1);
}

.walking__wrapper {
  width: 40%;
  padding: 25px;
  background-color: #fff;
  border-radius: 4px;
}

.walking__title {
  max-width: 890px;
  height: 192px;
  font-size: 40px;
  line-height: 40px;
}

.walking__link {
  padding: 13px 110px;
  background-color: var(--col_1);
  border-radius: 4px;
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: background-color 0.4s ease-in-out;
}

.walking__link:focus {
  background-color: #aa222b;
}

.walking__link:hover {
  background-color: #e4202d;
  color: #fff;
}

.walking__link:active {
  background-color: #aa222b;
}