<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная</title>
</head>
<body>
  <h1>Главная страница</h1>
	{% if request.user.is_authenticated %}
		<h2>Добро пожаловать, <a href="{% url 'profile' user.id %}">{{ request.user.username }}
		<a href="{% url 'logout' %}">Выйти</a><br>
	{% else %}
		<h2>Вы не авторизованы на сайте, пожалуйста войдите в учётную запись:</h2>
		<a href="{% url 'login' %}">Войти</a>
		<p>Нет учётной записи? <a href="{% url 'sign-up' %}">Зарегистрируйтесь!</a></p>
	{% endif %}
</body>
</html>