{% extends 'app_main/base.html' %}
{% load static %}

{% block title %}
<title>Карта</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="content">
    <div class="top">
      <div class="container-fluid">
        <h1 class="page-title">Карта</h1>
      </div>
    </div>
    <section class="section">
      <div class="container-fluid"></div>
    </section>
  </div>
  <div class="map" id="map"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/places.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}