{% load static %}

<header class="header fixed-top">
  <nav class="navbar navbar-expand-md">
      <div class="navbar__container container container-fluid">
      <a class="navbar-brand logo" href="#">
        <!-- <img src="{% static 'img/vdnkh.png' %}" class="d-inline-block align-top navbar-brand-img" alt=""> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Карта</a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>