{% load static %}
{% block extra_css %}
<style>

.navbar {
    top: 16px;
    left:16px;
    right: 16px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.04), 0px 0px 12px rgba(0, 0, 0, 0.04);
    max-width: calc(100% - 32px);
    min-height: 80px;
}

a {
    font-family: 's', sans-serif;
}

</style>
{% endblock extra_css %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar fixed-top navbar-default rounded" style="background-color: #FFFFFF;">
    <a class="navbar-brand" href="#">
        <img src="static/img/vdnkh.png" width="40" height="40" class="d-inline-block align-top" alt="">
    </a>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}" style="color: #FFFFFF;">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #E22C38;">Карта</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="#" style="color: #E22C38;">Выход</a>
                        {% else %}
                        <a class="nav-link" href="#" style="color: #E22C38;">Авторизация</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
