{% extends 'app_main/map/map.html' %}
{% load static %}

{% block map_title %}Маршрут №{{ route.id }}{% endblock %}

{% block map_detail %}
<section class="section">
  <ul class="point-list">
    {% for point in route.route_points.all %}
      <li class="point-item">{{ point }}</li>
    {% endfor %}
  </ul>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/routesObject.js' %}"></script>
<script src="{% static 'js/places.js' %}"></script>
<script>
  var testTest = "testing..."
  var routeData = [
    {% for point in route.route_points.all %}
      {{ point|safe }},
    {% endfor %}
  ]
</script>
<script src="{% static 'js/customroute.js' %}"></script>
{% endblock %}