{% extends 'app_main/map/map.html' %}
{% load static %}

{% block map_title %}Маршрут №{{ route.id }}{% endblock %}

{% block map_extra_css %}
<link rel="stylesheet" href="{% static 'css/custom-route-detail.css' %}">
{% endblock %}

{% block map_detail %}
<section class="section">
  <div class="container-fluid">
    <div class="back-link-container">
      <a class="back-link" href="{% url 'profile' user.id %}">< Назад</a>
    </div>
    <button class="btn-reset show-map-btn" onclick="showMap()">Показать карту</button>
    <button class="btn-reset close-map-btn" id="close-map-btn" onclick="hideMap()">Скрыть карту</button>
    <ul class="place-list list-reset">
      {% for point in route.route_points.all %}
      <li class="card place d-flex">
        <img class="place__img" src="https://vdnh.ru{{point.img_url}}">
        <div class="place__text">
          <div class="card-body">
            <a href="https://vdnh.ru{{ point.site_url }}">{{ point }}</a>
          </div>
          {% if point.ticket_url %}
          <div class="card-footer">
            <a href="{{point.ticket_url}}">Купить билет</a>
          </div>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/routesObject.js' %}"></script>
<script src="{% static 'js/places.js' %}"></script>
<script>
  var routeData = [
    {% for point in route.route_points.all %}
      {{ point.point|safe }},
    {% endfor %}
  ]
</script>
<script src="{% static 'js/customroute.js' %}"></script>
<script src="{% static 'js/show-hide-map.js' %}"></script>
{% endblock %}