{% extends "app_main/base.html" %}
{% load static %}

{% block title %}
<title>{{ user.username }}</title>
{% endblock %}

{% block top %}
<div class="top">
  <div class="container">
    <h1 class="page-title">{{ profile.username }} <{{ profile.id }}></h1>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container section__container">
    <a href="{% url 'home' %}">На главную</a>
    <a href="{% url 'profile-redact' profile.id %}">Редактировать</a>
    <a href="{% url 'logout' %}">Выйти</a>
    <p>Имя: {{ profile.first_name }}</p>
    <p>Фамилия: {{ profile.last_name }}</p>
    <p>Отчество: {{ profile.patronymic }}</p>
    <p>Дата рождения: {{ profile.born }}</p>
    <p>Email: {{ profile.email }}</p>
  </div>
</section>
{% endblock %}