{% extends "app_main/base.html" %}
{% load static %}

{% block title %}
<title>{{ user.username }}</title>
{% endblock %}

{% block top %}
<div class="top">
  <div class="container-fluid">
    <h1 class="page-title">{{ profile.username }} <{{ profile.id }}></h1>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="section">
  <div class="section__container container-fluid">
    <a href="{% url 'home' %}">На главную</a>
    <a href="{% url 'profile-redact' profile.id %}">Редактировать</a>
    <a href="{% url 'logout' %}">Выйти</a>
    <p>Имя: {{ profile.first_name }}</p>
    <p>Фамилия: {{ profile.last_name }}</p>
    <p>Отчество: {{ profile.patronymic }}</p>
    <p>Дата рождения: {{ profile.born }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Отмеченные Вами интересы:</p><br>
    <ul>
        {% for tag in user.tags.all %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    <div class="dropdown">
        <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">+ Добавить интересы
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            {% if all_tags %}
            {% for tag in all_tags %}
            <form action="{% url 'addtag' user.id %}" method="post">
                {% csrf_token %}
                <input name="add_tag" value="{{tag}}" type="submit"/>
            </form>
            {% endfor %}
            {% else %}
            <p>Тегов больше нет!</p>
            {% endif %}

        </div>
        </form>
    </div>

    <ul class="route-list">
      {% for route in user.custom_routes.all %}
      <li class="route"><a href="{% url 'custom-route-detail' user_id=user.id pk=route.id %}">Маршрут №{{ route.id }}</a></li>
      {% endfor %}
    </ul>
    <form action="{% url 'custom-route_create' user.id %}" method="post">
      {% csrf_token %}
      <button type="submit" name="create_route">Построить свой маршрут</button>
      <!-- <a href="{% url 'custom-route_create' user.id %}" style="text-decoration: underline;">Построить свой маршрут</a> -->
    </form>
  </div>
</section>
{% endblock %}