{% extends "app_main/base.html" %}
{% load static %}

{% block title %}
<title>{{ user.username }}</title>
{% endblock %}

{% block top %}
<div class="top">
  <div class="container">
    <h1 class="page-title">{{ user.username }} <{{user.id}}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container section__container">
    <a href="{% url 'home' %}">На главную</a>
    <a href="{% url 'profile-redact' user.id %}">Редактировать</a>
    <a href="{% url 'logout' %}">Выйти</a>
    <p>Имя: {{ user.first_name }}</p>
    <p>Фамилия: {{ user.last_name }}</p>
    <p>{{ user.email }}</p>
  </div>
</section>
{% endblock %}