{% extends "app_main/base.html" %}
{% load static %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block top %}
<div class="top">
  <div class="container">
    <h1 class="page-title">Регистрация</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="section">
  <div class="section__container container">
    <form class="form" action="{% url 'sign-up' %}" method="post">
      <div class="form__wrapper row">

        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul class="form__errors-list list-reset">
          {% for err in form.non_field_errors %}
          <li class="form__error error d-flex">{{ err|escape }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% for input in form %}
        <div class="form__field col-6">
          <label class="form__label" for="{{ input.id_for_label }}">{{ input.label }}:</label>
          {{ input }}
          <div class="form__input-underline" id="{{ input.id_for_label }}-underline"></div>
          {% if input.help_text %}
          <div class="form__help-text">{{ input.help_text|safe }}</div>
          {% endif %}

          {% if input.errors %}
          <ul class="form__field-error-list list-reset">
            {% for err in input.errors %}
            <li class="form__field-error error d-flex">{{ err|escape }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}

        <button class="form__submit-btn btn-reset" type="submit">Зарегистрироваться</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block extra_js %}
{% include 'app_main/form-script.html' %}
{% endblock %}