{% extends 'app_main/base.html' %}
{% load static %}

{% block title %}
<title>Карта</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% block map_extra_css %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="content">
    {% block map_top %}
    <div class="top">
      <div class="container-fluid">
        <h1 class="page-title">{% block map_title %}Карта{% endblock %}</h1>
      </div>
    </div>
    {% endblock %}
    {% block map_detail %}
    <section class="section">
      <div class="container-fluid">
        <ul class="link-list">
          <li class="link-item">
            <a href="{% url 'heatmap' %}" class="link">Посмотреть загруженность ВДНХ</a>
          </li>

          <li class="link-item">
            <a href="{% url 'route-list' %}" class="link">Перейти к маршрутам</a>
          </li>

          {% if request.user.is_authenticated %}
          <li class="link-item">
            <a href="{% url 'profile' user.id %}" class="link">Построить свой маршрут</a>
          </li>
        </ul>
            {% else %}
        </ul>
        <h2 class="auth-title">Авторизуйтесь на сайте, чтобы создавать свои маршруты!</h2>
        <a href="{% url 'login' %}" class="link">Войти</a>
        <p class="auth-descr">Нет учётной записи? <a class="link" href="{% url 'sign-up' %}">Зарегистрируйтесь!</a>
        </p>
        {% endif %}
        <button class="btn-reset show-map-btn" onclick="showMap()">Показать карту</button>
      </div>
    </section>
    {% endblock %}
  </div>
  <div class="map" id="map"></div>
</div>

<button class="btn-reset close-map-btn" id="close-map-btn" onclick="hideMap()">Скрыть карту</button>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/routesObject.js' %}"></script>
<script src="{% static 'js/places.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/show-hide-map.js' %}"></script>
{% endblock %}