{% extends 'app_main/base.html' %}
{% load static %}

{% block title %}
<title>Карта</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="content">
    <div class="top">
      <div class="container-fluid">
        <h1 class="page-title">{% block map_title %}Карта{% endblock %}</h1>
      </div>
    </div>
    {% block map_detail %}
    <section class="section">
      <div class="container-fluid">
        <a href="{% url 'route-list' %}" style="text-decoration: underline;">Перейти к маршрутам</a>
      </div>
      <div class="container-fluid">
        {{ route }}
      </div>
    </section>
    {% endblock %}
  </div>
  <div class="map" id="map_r"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/routesObject.js' %}"></script>
<script src="{% static 'js/places.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script>
  window.onload = function () {
  var cnt = 0;
  var data = [
    {% for point in route %}
      {{ point|safe }},
    {% endfor %}
  ]
  console.log(data)
  }
</script>
<script src="{% static 'js/customroute.js' %}"></script>
{% endblock %}