{% extends 'app_main/map/map.html' %}
{% load static %}

{% block map_title %}Маршруты{% endblock %}

{% block map_extra_css %}
<link rel="stylesheet" href="{% static 'css/route-list.css' %}">
{% endblock %}

{% block map_detail %}
<section class="section">
  <div class="container-fluid">
    <ul class="route-list list-reset row">
      {% for route in routes %}
        <li class="route col-xl-4 col-lg-6 col-12">
          <a href="{% url 'route-detail' route.code %}">
            <h2 class="route__title">{{ route.name }}</h2>
            <div class="route__img-wrapper">
              <img class="route__img" src="{{ route.pic_url }}" alt="">
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/routesObject.js' %}"></script>
<script src="{% static 'js/places.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}