{% extends 'app_main/map/map.html' %}
{% load static %}

{% block map_title %}Маршруты{% endblock %}

{% block map_detail %}
<section class="section">
  <div class="container-fluid">
    <ul class="route-list list-reset">
      {% for route in routes %}
        <li class="route-item">{{ route.name }}</li>
      {% endfor %}
    </ul>
  </div>


</section>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/routesObject.js' %}"></script>
<script src="{% static 'js/places.js' %}"></script>
<script>
  var testTest = "testing..."
  var routeData = [
    {% for point in route %}
      {{ point|safe }},
    {% endfor %}
  ]
  // window.onload = function () {
  // var cnt = 0;
  // var routeData = [
  //   {% for point in route %}
  //     {{ point|safe }},
  //   {% endfor %}
  // ]
  // console.log(data)
  //}
</script>
<script src="{% static 'js/customroute.js' %}"></script>
{% endblock %}